:root {
  --white: #fff;
}
/*---------------Universal Styles------------------------*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-weight: 400;
  color: #212529;
}

h2 {
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
}

p {
  font-size: 20px;
  line-height: 28px;
  font-weight: lighter;
  line-height: 30px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/*---------------Header-----------------*/

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #1b3358;
  height: 70px;
}

/*Logo*/
.logo {
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  text-align: center;
  color: #6fcf97;
}
.header__welcome {
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  color: var(--white);
}

/*---------------Section: intro-----------------*/

.intro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 40px;
  gap: 30px;
}

.intro__picture {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  height: 500px;
  background: #d6e3ff;
  border-radius: 20px;
}
.intro__image {
  width: 450px;
  height: 260.53px;
}

.intro__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  padding: 0px 48px;
  gap: 32px;
}

.intro__text {
  padding: 0 0 16px 0;
}

#white {
  background-color: black;
  color: var(--white);
}

/*-----------------footer----------*/
.footer {
  padding: 25px;
  background: #f2f2f2;
  height: 70px;
  width: 100%;
}

.footer__text {
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #06142e;
}
