:root {
  --white: #fefefe;
  --whiteTwo: #f2f2f2;
  --greenOne: #6fcf97;
  --greenTwo: #3ea26d;
  --blueOne: #1b3358;
  --blueTwo: #d6e3ff;
}
/*---------------Universal Styles------------------------*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-weight: 400;
  color: #212529;
}

h2 {
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
}

p {
  font-size: 20px;
  line-height: 28px;
  font-weight: lighter;
  line-height: 30px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

input,
textarea {
  border: 3px solid var(--greenOne);
  padding: 16px;
  font-size: 20px;
}
/*---------------Header-----------------*/

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: var(--blueOne);
  height: 70px;
}

/*Logo*/
.logo {
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  text-align: center;
  color: var(--greenOne);
}
.header__welcome {
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  color: var(--white);
}

/****************Page: Welcome***************/
.home {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: var(--white);
  background-image: url(./assets/images/background-home.svg);
  background-position: center bottom;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.home__enter {
  flex-grow: 1;
  margin: auto;
  padding: 0 100px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.icon {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  border-radius: 90px;
  background: var(--white);
  gap: 80px;
}

.icon__img {
  width: 150px;
  height: 150px;
  padding: 25px;
}

.home__input {
  width: 100%;
  margin: 16px;
}

.home-picture {
  flex-grow: 1;
  padding: 20px;
  /*center element-grid:parent*/
  height: 100%;
  display: grid;
}
.home-picture__img {
  width: 490px;
  height: 460px;
  border-radius: 50%;
  /*center element-grid:child*/
  margin: auto;
}

/*---------------Section: intro-----------------*/

.intro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 40px;
  gap: 30px;
}

.intro__picture {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  height: 500px;
  background: #d6e3ff;
  border-radius: 20px;
}
.intro__image {
  width: 450px;
  height: 260.53px;
}

.intro__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  padding: 0px 48px;
  gap: 32px;
}

.intro__text {
  padding: 0 0 16px 0;
}

#white {
  background-color: black;
  color: var(--white);
}

/*-----------section: cipher-----------------*/
.cipher {
  padding: 20px;
  background: var(--blueOne);
}

.cipher__content {
  display: flex;
  flex-direction: column;
  padding: 0 10%;
}
.cipher__title {
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 61px;
  color: var(--greenOne);
}

.cipher__subtitle {
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  color: var(--white);
}

.cipher__label {
  font-weight: 500;
  font-size: 20px;
  line-height: 31px;
  color: var(--white);
}

.cipher__textarea {
  background: var(--white);
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.cipher__buttons {
  display: flex;
  justify-content: space-between;
}

.cipher__text {
  background: var(--white);
  border: 2px solid var(--greenOne);
  padding: 16px;
  min-height: 100px;
  /*text*/
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  /*flex*/
  display: flex;
  align-items: start;
  /*contenido que no alcanza*/
  overflow: auto;
}
/*-----------------footer----------*/
.footer {
  height: 70px;
  width: 100%;
  padding: 25px;
  background: var(--whiteTwo);
}

.footer__text {
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #06142e;
}

/*button*/
.btn {
  padding: 10px 5px;
  margin: 16px;
  border: none;
  width: 100%;
  border-radius: 15px;
  cursor: pointer;
  /*text*/
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: 0.05em;
}

.btn--primary {
  color: var(--white);
  background: var(--greenOne);
}

.btn--secondary {
  color: var(--blueOne);
  border-radius: 15px;
}

.btn--primary:hover {
  background: var(--greenTwo);
}

.btn--secondary:hover {
  background: var(--greenTwo);
  color: var(--white);
}

.btn--border {
  border: 2px solid var(--greenTwo);
}

.btn--small {
  width: 150px;
}

@media screen and (max-width: 770px) {
  .intro {
    flex-direction: column-reverse;
  }

  .intro__image {
    width: 100%;
    height: auto;
  }
}
